{% extends parent %}

{#
 # Probably want to dump things here like the Twig global
 #}

{% block client_login_error %}
<div class="errors">
    </h1>We broke!</h1>

    {{ dump(feedback) }}
    {{ dump(exception.getmessage()) }}
    {{ dump(exception) }}

</div>
{% endblock client_login_error %}
